[push]
        default = matching
[rebase]
        autosquash = true
[merge]
        tool = opendiff
[user]
	name = Dmitriy Rozhkov
	email = drozhkov@mesosphere.io
[core]
        excludesfile = ~/.gitignore_global
[fetch]
	prune = true
[commit]
	template = ~/.gitmessage

